@charset "utf-8";

body{
  min-width: 1100px;
}


.inner{
  width: 1100px;
  margin: 0 auto;
}

.iconheader{
  background-color: #fff;
  position: sticky;
  z-index: 999;
  top: 0;
  padding: 15px 10px 15px 10px;
}

.button{
  font-size: 12px;
  background-color: #6ba7eb;
  padding: 12px 14px;
  color: #ffffff;
  float: right;
  transition: background-color 0.3s;
}

.button:hover{
  background-color: #333;
}

.main-pc{
  padding-top: 78px;
}

.big-bg{
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 400px;
  padding-bottom: 400px;
}

.title-keyvisual h1{
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  text-align: center;
}

.title-keyvisual p{
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
}

.work{
  background-color: #e3f2fd;
  padding-top: 50px;
  justify-content: center;
  display: flex;
}

.pc{
  display: flex;
  text-align: center;
}

.title-work h1{
  margin-top: 20px;
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
}

.title-work p{
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  text-align: center;
  margin-top: 35px;
}

.skills{
  padding-top:  50px;
  padding-bottom: 70px;
}

.title-skills{
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  letter-spacing: 10px;
}

.imgbox{
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.box{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.box1{
  opacity: 0.7;
  transition: 0.7s;
}

.box1:hover{
  opacity: 1.0;
}

.box1:nth-child(3n-1),.box1:nth-child(3n-2){
  margin-right: 100px;
  margin-bottom: 100px;
}

.box1:nth-child(3n){
 margin-right: 0;
}

.box1:nth-last-child(1),.box1:nth-last-child(2),.box1:nth-last-child(3){
  margin-bottom: 0;
}

.box img{
  width:300px; 
  height:300px;
  vertical-align: bottom;
}

.plan-title{
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}

.plan{
  background-color: #d0dfea;
  padding: 50px 0;
}

.table{
  table-layout: fixed;
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
}

th, td{
  border-left: 2px solid #fff;
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
}

.table tr:nth-child(odd){
  background-color: #e0efff;
}

.table tr:nth-child(even){
  background-color: #f9f9f9;
}

.table tr:nth-child(1) th{
  background: #6ba7eb;
}

.sns{
  background-color: #e3f2fd;
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns-icon{
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.icon_la{
  width: 185px;
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: 0.5s;
}


.icon_la:hover {
  transition: 0.5s;
  background-color: #fff;
  text-decoration: none;
}

.link_icon{
  display: block;
  height: 100%;
}


footer{
  background: #cfd8dc;
  padding: 20px 0 25px 0;
}

.footer-last{
  text-align: right;
  letter-spacing: 0.5px;
  font-size: 10px;
  padding-right: 50px
}

@media screen and (max-width: 1199px){
  .inner{
    width: 97%;
  }

  .big-bg{
    padding: 250px 0;
  }
  
  .pc{
    display: block;
    margin: auto;
  }

  .pc-img{
    margin: 0 auto;
    width: 100%;
  }

  .title-work{
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .box{
    width: 100%;
    flex-direction: column;
  }

  .box1:nth-child(3n){
    margin-bottom: 50px;
  }

  .box1:nth-child(3n-1),.box1:nth-child(3n-2){
    margin: 0 auto;
  }

  .box1:last-child{
    margin-bottom: 0;
  }

}


@media screen and (max-width: 767px){
  .inner{
    width: 97%;
  }
  
  .button{
    display: none;
  }

  .hum{
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 40px;
    width: 45px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    border-radius: 10px;
    border: solid 3px #CFD8DC;
  }

  .hum span,
  .hum span:before,
  .hum span:after{
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #CFD8DC;
    position: absolute;
  }

  .hum span:before{
    bottom: 8px;
  }

  .hum span:after{
    top: 8px;
  }

  .big-bg{
    padding: 200px 0;
  }

  .title-keyvisual h1{
    font-size: 40px;
  }

  .title-keyvisual p{
    font-size: 30px;
  }
  
  .box{
    width: 100%;
    flex-direction: column;
  }

  .box1:nth-child(3n){
    margin-bottom: 50px;
  }

  .box1:nth-child(3n-1),.box1:nth-child(3n-2){
    margin: 0 auto;
  }

  .box1:last-child{
    margin-bottom: 0;
  }

  th{
    font-size: 14px;
    line-height: 22px;
  }

  td{
    font-size: 12px;
  }

  .sns{
    padding: 50px 15px;
  }

  .sns-icon{
    display: block;
    margin:  auto;
  }

  .icon_la{
    margin: 50px 0;
    width: 100%;
  }
}